@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tienne:wght@400;700;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Poppins", sans-serif;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    border-radius: 10px;
    animation: fadeIn 2s ease-in;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgba(23, 14, 14, 0.911);
}

.about-image img {
    width: 35vw;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    color: bisque;
}

span {
    color: whitesmoke;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
    color: bisque;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: whitesmoke;
}

.container-button {
    display: flex;
    justify-content: center;
    /* Center align buttons */
    gap: 10px;
    /* Adjust gap between buttons */
    margin-top: 20px;
    font-size: 15px;
}

.button-message {
    background-color: #a42d2d;
    /*Buttoncolor*/
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* footer */
footer p {
    text-align: center;
    padding: 20px;
    background: #6a11cb;
    color: #fff;
    font-size: 0.9rem;
    margin-top: 50px;
}