body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5ebe0;
    color: #333;
}

.menu-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.menu-header {
    text-align: center;
    margin-bottom: 40px;
}

.menu-header h1 {
    font-size: 3rem;
    color: #7b5d44;
    margin: 10px 0;
}

.menu-header p {
    font-size: 1.2rem;
    color: #555;
    margin: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-item {
    flex: 1 1 calc(30% - 20px);
    background-color: #f9f4ed;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-info {
    padding: 20px;
    text-align: center;
}

.menu-info h2 {
    font-size: 1.5rem;
    color: #7b5d44;
    margin-bottom: 10px;
}

.menu-info p {
    font-size: 1rem;
    color: #666;
    margin: 0;
    margin-bottom: 15px;
}

.menu-info span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #7b5d44;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.button-pesan {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: brown;
    color: whitesmoke;
    background-color: #a42d2d;
    /* Button color */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    background-color: #a42d2d;
    /*Buttoncolor*/
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: inline-block;
}

.button-pesan:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: black;
}